<!DOCTYPE html>
<html>
  <head>
    <title>LUCID</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/contact.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="nav1">
          <a  href="{{url_for('index')}}" >LUCID
          <i class="fas fa-home"></i>
        </a>
        <h1>Conatct Us</h1>
      </div>   

    <div class="about-section">
      <p>
          Developed by & Maintained By :
          Team LUCID
      </p>
    </div>
<div class="row">
    <div class="column">
        <div class="card">
          <img src="https://i.postimg.cc/LsydTY26/sharon.jpg" />
          <div class="container">
            <h2 style="text-align: center">Sharon Antony</h2>
            <p style="text-align: center">sharonantony51@gmail.com</p>
            <a href="https://www.linkedin.com/in/sharon-antony-2bb039173/">
            <p><button class="button">View Profile 
                    <i class="fab fa-linkedin"></i>
            </a>
            </button></p>
          </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="https://i.postimg.cc/fTtBqHQ9/adwaith.jpg" alt="Adwaith" />
          <div class="container">
            <h2 style="text-align: center">Adwaith B A</h2>
            <p style="text-align: center">adwaith39@gmail.com</p>
            <a href="https://www.linkedin.com/in/adwaith-b-a-a12793167/">
            <p><button class="button">View Profile 
                    <i class="fab fa-linkedin"></i>
            </a>
            </button></p>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <img src="https://i.postimg.cc/cLs5bxDK/reshma.jpg" alt="Reshma"  />
          <div class="container">
            <h2 style="text-align: center">Reshma R</h2>
            <p style="text-align: center">reshma24799@gmail.com</p>
            <a href="      https://www.linkedin.com/in/adwaith-b-a-a12793167/">
            <p><button class="button">View Profile
                    <i class="fab fa-linkedin"></i>
            </a>           
         </button></p>
          </div>
        </div> 
    </div>
</div>
     <div class="pinicon">
        <i class="fas fa-map-marker-alt"> &nbsp;</i>
        Students of Sree Chitra Thirunal College Of Engineering, Trivandrum, Kerala, India.
     </div>
     <div class="foot1">
      <p>
        If you are facing any issue with your mental health. Please contact:
      </p>
    </div>
<div class="row row1">
    <div class="column">
        <div class="card card1">
          <div class="container">
            <h2 style="text-align: center">Dr. Siddeek</h2>
            <p style="text-align: center">Counseling Psychologist</p>
            <p style="text-align: center"><i class="fas fa-phone-square-alt"></i> &nbsp; +91 9847440131</p>
          </div>
        </div>
    </div>


    <div class="column">
        <div class="card card1">
          <div class="container">
            <h2 style="text-align: center">Dr. Remya</h2>
            <p style="text-align: center">Professional Counselor</p>
            <p style="text-align: center"><i class="fas fa-phone-square-alt"></i> &nbsp; +91 8547115420</p>
          </div>
        </div> 
    </div>
</div>
  </body>
</html>
