<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LUCID</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="static/index.css" rel="stylesheet" />
  </head>
  <body>
    <div class="responsive">
      <div class="banner-text">
        <ul>
          <li class="two"><a href="{{url_for('about')}}">About</a></li>
          <li class="three"><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>
            <h1>  LUCID </h1>
          <div class="tm">
            <i class="far fa-registered"></i>        </div>
          <br>
          <!-- <h6> Deep-Emotion Classifier for enhanced Depression Detection</h6> -->
          </p>
        <div class="button-1">
          <a href="{{url_for('login')}}">Analyse Now</a>
        </div>
      </div>
      <div class="footer">
        Developed and Maintained by
        Team Lucid</a>
      </div>
      <div class="animation-area">
        <ul class="box-area">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </body>
</html>
